<form action="<%= searches_url%>" method="get">
  <label for="listing_search">Search:</label>
  <input 
    type="text"
    id="listing_search"
    name="listing[search]"
    place_holder="'City, State' or Zip">
  <br>
  <input type="submit" value="Search">
</form>