<div class="jumbotron">
  <h1>Find your Home</h1>
  <form action="<%= searches_url%>" method="get">
    <div class="form-group">
      <label for="listing_search">Search:</label>
      <input 
        type="text"
        class="form-control"
        id="listing_search"
        name="listing[search]"
        placeholder="'City, State' or Zip">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>
</div>